<!DOCTYPE html>
<html>
  <head>
    <title>07 电信</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body>
	<header class="hero-unit" style="background-color:#A9F16C">
	<div class="container" style="width: 800px;">
	    <div class="page-header">
	        <h1>通讯录</h1>
	    </div>
	    <p class="lead">筒子们，大家好，更新下自己的名片吧！</p>

		<form role="form" method="POST" action="/">
		  <div class="form-group">
		  	<div class="col-xs-4">
		    	<input type="text" class="form-control" name="Id" placeholder="学号 01">
		    	<input type="text" class="form-control" name="Name" placeholder="姓名">
		    	<input type="text" class="form-control" name="Telephone" placeholder="手机">
		    	<input type="text" class="form-control" name="Address" placeholder="地址 省 市 区">
				<input type="hidden" name="op" value="add">
		    	<button type="submit" class="btn btn-primary btn-lg">更  新</button>
		    </div>
		  </div>

		</form>
	</div>
	<div class="container"  style="width: 800px;">
		<table class="table table-hover">
		  <thead>
		  	<tr>
		  		<th>学号</th>
		  		<th>姓名</th>
		  		<th>电话</th>
		  		<th>地址</th>
		  	</tr>
		  </thead>
		  	<tbody>
		  		{{range .Contacts}}
		  		  <tr>
		  			<th>{{.Id}}</th>
		  			<th>{{.Name}}</th>
		  			<th>{{.Telephone}}</th>
		  			<th>{{.Address}}</th>
					<th>
						<a href="/?op=modify&id={{.Id}}">修改</a>
					</th>
		  		  </tr>
		  		{{end}}
		  	</tbody>
		</table>
		<h1>
			<a href="/download" class="btn btn-info">下载通讯录</a>
		</h1>
		<h4>网页右存为 ***.vcf 文件，下载至手机，导入联系人(暂时只支持安桌系统)！
			<a href="https://github.com/fugr/contacts" class="btn btn-info" target="_blank">到 GitHub 上改进本页面</a>
		</h4>
	</div>

	</header>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
